@{
    ViewData["Title"] = "Home Page";
}


@section Scripts
{
    <script src="lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script type="text/javascript">
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder()
                //.configureLogging(signalR.LogLevel.Debug)
                .withAutomaticReconnect([1000, 1000, 5000, 10000]) //default 0-2-10-30 saniye bu şekilde ise 1-1-5-10-30 saniye sonra
                .withUrl("https://localhost:5000/MyHub")
                .build();

            //functions
            function statusShow() {
                $("#conStatus").text(connection.connectionState);
            }

            function start() {
                connection.start()
                    .then(() => {
                        statusShow();
                        $("#loading").hide();

                        connection.invoke("GetNames");
                    })
                    .catch((err) => {
                        console.log(err)
                        setTimeout(() => start(), 2000);
                    });
            }


            statusShow();
            start();

            //Subscribes
            connection.onreconnecting(err => {
                $("#loading").show();
                statusShow();
                console.log("onreconnection:" + err);
            });
            connection.onreconnected(connectionId => {
                $("#loading").hide();
                statusShow();
                console.log("connectionId:" + connectionId)
            })
            connection.onclose(() => {
                $("#loading").hide();
                statusShow();
                start();
            })

            connection.on("ReceiveClientCount",
                (clientCount) => {
                    $("#clientCount").text(clientCount);
                })

            connection.on("Notify",
                (countText) => {
                    $("#notify").html(`<div class="alert alert-success">${countText}</div> `);
                })

            connection.on("ReceiveNames",
                (names) => {
                    $("#namesList").html(`<li class="list-group-item">${names}</li> `);
                }
            )

            connection.on("Error",(errorText) => {
                alert(errorText);
            })

            //clicks
            $("#btnNameSave")
                .click(() => {
                    connection.invoke("SendName", $("#txtName").val())
                        .catch((err) => console.log(err))
                })

            // on methods
            connection
                .on("ReceiveName",
                    (name) => {
                        $("#namesList").append(`<li class="list-group-item"> ${name}</li>`)
                    })
        })
    </script>

}
<div class="row">

    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtName" />
        <hr />
        <button class="btn btn-primary" id="btnNameSave">İsim Kaydet</button>
        <div class="alert alert-info">
            <div class="float-start">
                <div>
                    Bağlantı Durumu:<strong id="conStatus"></strong>
                    Client Sayısı:<strong id="clientCount"></strong>
                </div>
            </div>
            <div id="loading" class="float-end">
                <span class="sr-only">Loading...</span>
                <div class="spinner-border" role="status"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="notify">
            <div></div>
        </div>
    </div>
    <div class="col-md-8 offset-2">
        <ul class="list-group" id="namesList"></ul>
    </div>
</div> 